.tabs {
    height: auto;
    white-space: normal;
}

.tab:hover {
    background: #bbdefb;
    color: black;
}

.tab:active {
    background: #bbdefb;
    color: black;
}

a:active {
    background: black;
}

.tab {
    display: block;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.tab-content {
    height: 100%;
    width: 100%;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
}

.indicator {
    display: none;
}

form {
    padding-left: 110px;
}

div.brand-logo {
    padding-left: 10px;
}

nav,
main,
footer {
    padding-left: 300px;
}

.side-nav {
    width: 250px;
    opacity: 1;
}

@media only screen and (max-width: 992px) {
    nav,
    header,
    main,
    footer {
        padding-left: 0;
    }
    .tab {
        display: block;
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
    }
    form {
        padding-left: 0px;
    }
    .side-nav {
        width: 200px;
        opacity: 1;
    }
}

.focus {
    background-color: teal;
    color: #fff;
    cursor: pointer;
    /*font-weight: bold;*/
    padding: 5px 5px 5px 5px;
}

.focus:active {
    color: red;
}

.pageNumber {
    padding: 2px;
}

span {
    font-size: 25px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/*:active {
    background: rgba(0, 0, 0, 0.2);
}*/


/*.pageNumber:hover{

}
*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 8px 0px 8px 15px;
    /* Some padding */
    width: 40px;
    background-color: #353535;
}

#myBtn:hover {
    background-color: #c7081b;
    /* Add a dark-grey background on hover */
}