/* icon prefix focus color */

.input-field .prefix.active {
    color: white;
}


/* label color */

.input-field label {
    color: white;
}


/*to change color of line to white for all select dropdown type fields*/

.select-wrapper input.select-dropdown {
    border-bottom: 1px solid white;
}


/*to change color of line to white for all input type fields*/

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    border-bottom: 1px solid white;
}


/*for color of round of radio button after checked*/

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid white;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: white;
}


/*for color of round of radio button not checked*/

[type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after {
    border: 2px solid white;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 0 0;
}